<style>
    .hero img {
        width: 100%;
        display: flex;
        margin-top: 7.5%;
    }
    
    .hero .nombre {
        margin-top: -40px;
        z-index: 50;
        display: flex;
        justify-content: center;
    }
    
    .hero .nombre h1 {
        background-color: #8D6D53;
        color: white;
        font-size: 3rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .animales {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .animales img {
        height: 90px;
        width: 90px;
    }
    
    .anim {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #8D6D53;
        margin-bottom: 50px;
    }
    
    .anim h2 {
        text-align: center;
        font-weight: bold;
        color: white;
    }
    
    .anim .card {
        height: 200px;
        width: 300px;
        border: none;
    }
    
    .anim .col {
        justify-content: end;
        text-align: end;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .anim .cola {
        justify-content: start;
        text-align: start;
    }
    
    .anim .col div {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: white;
    }
    
    .descripcion h2 {
        text-align: center;
        font-weight: bold;
    }
    
    .descripcion div {
        font-size: 20px;
        margin-bottom: 100px;
        margin-top: 40px;
    }
    
    .tarjeta {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    
    .tarjeta .card {
        height: 200px;
        width: 300px;
        border: none;
    }
    
    .tarjeta button {
        border: none;
        background-color: transparent;
    }
    
    .boton {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .texx {
        text-align: justify;
    }
</style>
<div class="hero">
    <img src="../../../../assets/Imagenes/infoani/cabra.jpg" />
    <div class="nombre">
        <h1>CABRA</h1>
        <!-- MAYUSCUALAS -->
    </div>
</div>

<div class="animales">
    <img src="/assets/Imagenes/aguila.png" />
</div>

<div class="container anim">
    <h2>INFORMACION GENERAL</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>Nombre Científico:</div>
                <div>Clase:</div>
                <div>Orden:</div>
                <div>Familia:</div>
                <div>Alimentación:</div>
                <div>Hábitat:</div>
                <div>Camada:</div>
                <div>Gestación:</div>
                <!--  Incubación / Gestación-->
                <div>Longevidad:</div>
            </div>
            <div class="cola col">
                <div> Ammotragus lervia</div>
                <!-- Nombre Científico -->
                <div> Mammalia </div>
                <!--  Clase -->
                <div> Herbívora</div>
                <!--  Orden -->
                <div> Bovidae </div>
                <!--  Familia -->
                <div> Vegetacion natural y pastos </div>
                <!--  Alimentación -->
                <div>Pastizales, praderas y montañas </div>
                <!--  Hábitat-->
                <div> una cria</div>
                <!--  Camada-->
                <div> 165 a 170 días </div>
                <!--  Incubación / gestacion-->
                <div> 20 a 25 años</div>
                <!--  Longevidad-->
            </div>
        </div>
    </div>
</div>
<div class="container descripcion">
    <h2>DESCRIPCION</h2>
    <div class="texx">
        La magnitud mayor que alcanzan los machos (los machos adultos son mucho mayores que las hembras) es de 165 centímetros de extenso y 110 de elevación a la cruz, con un peso de hasta 150 kilogramo. Los dos sexos muestran barba y cuernos curvos, que en la
        situación de los machos son más largos y gruesos que en las hembras. Dichos cuernos tienen la posibilidad de medir hasta 46 pulgadas en los machos confinados a reservas cinegéticas del norte de México y sur de Texas, empero en regiones libres
        o de “cerco bajo” un borrego maduro puede conseguir hasta las 34 pulgadas. </div>
</div>
<div class="container tarjeta">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <button (click)="jaguar()"><img src="../../../../assets/Imagenes/vertical/jaguar.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <button (click)="lemur()"><img src="../../../../assets/Imagenes/vertical/lemur.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <button (click)="leon()"><img src="../../../../assets/Imagenes/vertical/leon.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
    </div>
</div>

<div class="container boton">
    <button type="button" class="btn btn-outline-success" (click)="animales()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
      </svg> 
  REGRESAR A ANIMALES</button>
</div>