<style>
    .hero img {
        width: 100%;
        display: block;
        margin-top: 7.5%;
        margin-bottom: 3%;
    }
    
    .carousel {
        width: 700px;
        margin: auto;
        margin-bottom: 5%;
    }
    
    .carousel img {
        border-radius: 30px;
    }
    .info {
        text-align: center;
        margin-bottom: 5%;
        font-weight: bold;
        font-size: 2.5rem;
    }
    
    .info img {
        width: 80px;
        height: 80px;
    }
    
    .informacion {
        text-align: center;
        font-size: 30px;
        color: #004d21;
        font-weight: bold;
        text-shadow: 2px 2px 2px grey;
    }
    
    .information {
        margin-bottom: 5%;
    }
    
    .precio {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .precio1 {
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
    }
    
    .llegar {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 2%;
    }
    
    .llegar img {
        height: 100px;
        width: 100px;
    }
    
    .mapa {
        text-align: center;
        margin-bottom: 3%;
    }
    
    .frame {
        border-radius: 30px;
    }
</style>
<div class="hero">
    <img src="/assets/Imagenes/finalepico.jpg" />
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/J.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/H.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/3.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/4.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/5.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/A.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/B.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/C.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/D.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/F.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/E.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/G.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/I.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/K.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/L.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/M.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/N.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/Ñ.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/O.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/P.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/Q.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/R.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/S.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/T.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/U.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/V.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/W.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/X.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/Y.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="../../../assets/Imagenes/horizontal/Z.jpg" class="d-block w-100" alt="..." />
        </div>
       <!--  <div class="carousel-item" data-bs-inter1val="500">
            <img src="../../../assets/Imagenes/horizontal/34.jpg" class="d-block w-100" alt="..." />
        </div> -->
    </div>
</div>

<div class="info">
    <img src="/assets/Imagenes/ico/buho.png">
    <h1>INFORMACIÓN</h1>
</div>

<div class="information container px-4 ">
    <div class="row gx-5 ">
        <div class="col ">
            <div class="informacion p-3 ">PRECIOS</div>
            <div class="precio p-3 ">Entrada general:</div>
            <div class="precio p-3 ">Los precios pueden variar sin previo aviso</div>
            <div class="precio1 p-3 ">Niños mayores de tres años pagan entrada</div>

        </div>
        <div class="col ">
            <div class="informacion p-3 ">HORARIOS</div>
            <div class="precio p-3 ">¡Abrimos todos los días!</div>
            <div class="precio p-3 ">Taquilla de Lunes a Domingo 8 am a 7 pm</div>
        </div>
    </div>
</div>

<div class="llegar">
    <img src="/assets/Imagenes/ico/leopardo.png " />
    <div>COMO LLEGAR</div>
</div>

<div class="mapa ">
    <iframe class="frame " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.4565227374037!2d-97.41025948255614!3d18.4629692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5bd30675bf931%3A0x4f635fa3216a08c9!2sEl%20Club%20de%20los%20Animalitos!5e0!3m2!1ses!2smx!4v1652721424167!5m2!1ses!2smx "
        width="600 " height="450 " style="border: 0 " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
</div>

<script>
    $('.carousel').carousel({
  interval: 500
})
</script>