<style>
    .hero img {
        width: 100%;
        display: flex;
        margin-top: 7.5%;
    }
    
    .hero .nombre {
        margin-top: -40px;
        z-index: 50;
        display: flex;
        justify-content: center;
    }
    
    .hero .nombre h1 {
        background-color: #E09150;
        color: white;
        font-size: 3rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .animales {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .animales img {
        height: 90px;
        width: 90px;
    }
    
    .anim {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #E09150;
        margin-bottom: 50px;
    }
    
    .anim h2 {
        text-align: center;
        font-weight: bold;
        color: white;
    }
    
    .anim .card {
        height: 200px;
        width: 300px;
        border: none;
    }
    
    .anim .col {
        justify-content: end;
        text-align: end;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .anim .cola {
        justify-content: start;
        text-align: start;
    }
    
    .anim .col div {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: white;
    }
    
    .descripcion h2 {
        text-align: center;
        font-weight: bold;
    }
    
    .descripcion div {
        font-size: 20px;
        margin-bottom: 100px;
        margin-top: 40px;
    }
    
    .tarjeta {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    
    .tarjeta .card {
        height: 200px;
        width: 300px;
        border: none;
    }
    
    .tarjeta button {
        border: none;
        background-color: transparent;
    }
    
    .boton {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .texx {
        text-align: justify;
    }
</style>
<div class="hero">
    <img src="../../../../assets/Imagenes/infoani/capibara.jpg" />
    <div class="nombre">
        <h1>CAPIBARA</h1>
        <!-- MAYUSCUALAS -->
    </div>
</div>

<div class="animales">
    <img src="/assets/Imagenes/aguila.png" />
</div>

<div class="container anim">
    <h2>INFORMACION GENERAL</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>Nombre Científico:</div>
                <div>Clase:</div>
                <div>Orden:</div>
                <div>Familia:</div>
                <div>Alimentación:</div>
                <div>Hábitat:</div>
                <div>Camada:</div>
                <div>Gestación:</div>
                <!--  Incubación / Gestación-->
                <div>Longevidad:</div>
            </div>
            <div class="cola col">
                <div> Hydrochoerus - Hidrochaeris</div>
                <!-- Nombre Científico -->
                <div> Mamifero </div>
                <!--  Clase -->
                <div> Rodentia </div>
                <!--  Orden -->
                <div> Caviidae</div>
                <!--  Familia -->
                <div> Plantas acuatica, pastos y gramineas ribereñas </div>
                <!--  Alimentación -->
                <div>Praderas cerca de lagos, rios o estanques</div>
                <!--  Hábitat-->
                <div>2 a 8 crias</div>
                <!--  Camada-->
                <div>110 a 150 días</div>
                <!--  Incubación / gestacion-->
                <div>8 a 12 años</div>
                <!--  Longevidad-->
            </div>
        </div>
    </div>
</div>
<div class="container descripcion">
    <h2>DESCRIPCION</h2>
    <div class="texx">
        Tiene un cuerpo pesado en forma de barril y una cabeza pequeña, con un pelaje pardo rojizo en la parte superior del cuerpo que se vuelve pardo amarillo. En su parte inferior suele encontrarse pelaje con puntos o petequias en el lomo. Puede crecer hasta
        1,30 m de largo y llegar a pesar 65 kg. Presenta pies ligeramente palmeados y al igual que los puercos carece de cola y tiene 20 dientes. Sus patas posteriores son algo más largas que las anteriores, y los hocicos son romos, con ojos, narinas
        y orejas en la parte superior de la cabeza. Las hembras son un poco más pesadas que los machos. El pelaje es largo y áspero, pero en algunas partes es tan fino que se puede apreciar la piel a través de él. Esto hace que sean unos animales propensos
        a las insolaciones, y para evitarlo, se revuelcan en el barro para protegerse la piel del sol.ienen una cabeza notablemente ancha y grande. En relación con los parientes más próximos al capibara, el hocico es más grande y redondeado, mientras
        que las narinas son pequeñas y están bastante separadas.La fórmula dental de este animal es de 1-0-1-3; lo que quiere decir que cada mitad de mandíbula presenta un diente incisivo, un premolar y tres molares, con un total de veinte dientes.
    </div>
</div>
<div class="container tarjeta">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <button (click)="caracara()"><img src="/assets/Imagenes/vertical/caracará.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <button (click)="chachalaca()"><img src="/assets/Imagenes/vertical/chachalacas.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <button (click)="ciervo()"><img src="/assets/Imagenes/vertical/ciervo.png" class="card-img-top" alt="..."></button>
            </div>
        </div>
    </div>
</div>

<div class="container boton">
    <button type="button" class="btn btn-outline-success" (click)="animales()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-bar-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
      />
    </svg>
    REGRESAR A ANIMALES
  </button>
</div>