<style>
    .hero img {
        width: 100%;
        display: block;
        margin-top: 7.5%;
        margin-bottom: 3%;
    }
    .atracciones {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    
    .atracciones img {
        height: 90px;
        width: 90px;
    }
    
    .atrac {
        margin-bottom: 50px;
    }
</style>

<div class="hero">
    <img src="/assets/Imagenes/acerca.jpg" />
</div>
<div class="atracciones">
    <img src="/assets/Imagenes/oso.png" />
    <h1 class="info">ATRACCIONES</h1>
</div>

<div class="container atrac">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a routerLink="/atracciones-felinos/atracciones-felinos.component.html"><img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... "></a>
            </div>
        </div>
        <div class="col ">
            <a href="atracciones-felinos.component.html">
                <div class="card h-100 ">
                    <img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... ">
                </div>
            </a>

        </div>
        <div class="col ">
            <div class="card h-100 " class="btn ">
                <img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... ">
            </div>
        </div>
    </div>
</div>
<div class="container atrac ">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col ">
            <div class="card h-100 " class="btn ">
                <img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... ">
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 " class="btn ">
                <img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... ">
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <a href="/clubanimalitos/src/app/app.component.html "><img src="/assets/Imagenes/leon.jpg " class="card-img-top " alt="... "></a>
            </div>
        </div>
    </div>
</div>