<style>
    .hero img {
        width: 100%;
        display: flex;
        margin-top: 7.5%;
    }
    .hero .nombre{
        margin-top: -40px;
        z-index: 50;
        display: flex;
        justify-content: center;
    }
    .hero .nombre h1{
        background-color: #268975;
        color: white;
        font-size: 3rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .animales {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .animales img {
        height: 90px;
        width: 90px;
    }
    .anim {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #268975;
        margin-bottom: 50px;
    }
    .anim h2{
        text-align: center;
        font-weight: bold;
        color: white;
    }
    .anim .card{
        height: 200px;
        width: 300px;
        border: none;
    }
    .anim .col {
        justify-content: end;
        text-align: end;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .anim .cola{
        justify-content: start;
        text-align: start;
    }
    .anim .col div{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: white;
    }
    .descripcion h2{
        text-align: center;
        font-weight:bold ;
    }
    .descripcion div{
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
</style>
<div class="hero">
    <img src="/assets/Imagenes/infoani/jaguar.jpg" />
    <div class="nombre">
        <h1>JAGUAR</h1>  <!-- MAYUSCUALAS -->
    </div>
</div>

<div class="animales">
    <img src="/assets/Imagenes/aguila.png" />
</div>

<div class="container anim">
    <h2>INFORMACION GENERAL</h2>
    <div class="container">
        <div class="row">
          <div class="col">
                <div>Nombre Científico:</div> 
                <div>Clase:</div>
                <div>Orden:</div>
                <div>Familia:</div>
                <div>Alimentación:</div>
                <div>Hábitat:</div>
                <div>Camada:</div>
                <div>Incubación:</div>
                <div>Longevidad:</div>
          </div>
          <div class="cola col">
                <div> Parabuteo Unicinctus</div>                                              
                <div> Aves</div>
                <div> Carnívora</div>
                <div> Aves</div>
                <div> Mamíferos medianos, aves, lagartijas e insectos</div>
                <div> Zonas áridas y tropicales</div>
                <div> 3 a 4 huevos</div>
                <div> 34 a 35 días</div>
                <div> 25 a 30 años</div>    
          </div>
        </div>
          </div>
      </div>
      <div class="container descripcion">
        <h2>DESCRIPCION</h2>
        <div>
            Aguililla de Harris o rojinegra, es una aguililla oscura que mide de 48.5 a 53.5 cm., de longitud total y de 102 a 120 cm., de envergadura. Sus alas son anchas y redondeadas, mientras que la cola es larga y ligeramente redondeada. Perchando, las puntas de las alas llegan hasta la mitad de la longitud de la cola. Ambos sexos son similares pero las hembras son más grandes, las cuales pesan de 834-1047 gr., mientras que los machos 725 gr.
            Es altamente social y forma grupos de reproducción y de cacería; anida en estructuras altas como los sahuáros o los postes de la luz.
            Su importancia ecológica radica en el hecho de que al ser una ave rapaz, se encuentra en la cima de la cadena trófica y con esto tiene influencia sobre el tamaño de las poblaciones de varios organismos directa o indirectamente, muchos de los cuales se pueden convertir en plagas al desparecer las poblaciones de depredadores; además presentan las tácticas más sofisticadas de cacería en grupo documentadas para un ave.
            Entre sus principales competidores por el territorio se encuentran otras rapaces como la aguililla de Swainson (Buteo swainsoni) y entre sus principales depredadores se encuentran el ser humano, los coyotes (Canis latrans), los cuervos comunes (Corvus corax), y el búho cornudo (Bubo virginianus).
            Su venta para tenerla como mascota y para la cetrería aumenta su captura ilegal.
        </div>
    </div>